<div class="footer-spacing">

    <div role="list" class="footer-list">
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/empfehlen" target="_self"
                title="Ein Restaurant empfehlen" tabindex="0" data-qa="footer-link-recommendRestaurant">Ein Restaurant
                empfehlen</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/anmelden" target="_self"
                title="Ein Restaurant anmelden" tabindex="0" data-qa="footer-link-signUpRestaurant">Ein Restaurant
                anmelden</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link"
                href="https://careers.justeattakeaway.com/de/de" target="_self" title="Jobs" tabindex="0"
                data-qa="footer-link-jobs">Jobs</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/agb" target="_self" title="AGB"
                tabindex="0" data-qa="footer-link-termsAndConditions">AGB</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/privacy-statement"
                target="_self" title="Datenschutzerklärung" tabindex="0"
                data-qa="footer-link-privacyStatement">Datenschutzerklärung</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/impressum" target="_self"
                title="Impressum" tabindex="0" data-qa="footer-link-colophon">Impressum</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/cookiestatement" target="_self"
                title="Verwendung von Cookies" tabindex="0" data-qa="footer-link-cookieStatement">Verwendung von
                Cookies</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link" href="/bugbounty" target="_self"
                title="Bug Bounty" tabindex="0" data-qa="footer-link-bugBounty">Bug Bounty</a></div>
        <div role="listitem" class="footer-list-item"><a class="footer-list-link"
                href="https://app.convercent.com/de-de/LandingPage/d8e86634-ec59-ec11-a985-000d3ab9f296" target="_self"
                title="Ethik-Hotline" tabindex="0" data-qa="footer-link-ethicsHotline">Ethik-Hotline</a></div>
    </div>

    <div class="footer-copyright">© 2023 Lieferando.de</div>
</div>