<div class="header-spacing">
    <div class="header-logo">
        <img src="/lieferando/img/lieferando-brand-desktop.svg" alt="lieferando.de">
    </div>
    <div class="header-headline">
        <h2>Speisekarte</h2>
    </div>
    <div class="header-items">
        <div class="header-language">

            <img src="/lieferando/img/icons8-germany-96.png" alt="Choose Language">

        </div>

        <div onclick="openMenuOverlay()" class="header-menu">

            <div id="menu-toggle" class="menu-icon">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </div>

            <div id="menu-overlay" class="menu-overlay hidden">

                <div class="menu-config spacing">
                    <div class="menu-headline">
                        <div>
                            <h2>Mein Account</h2>
                        </div>
                        <div onclick="closeMenuOverlay()" id="close" class="close-btn"><img src="/lieferando/img/close.svg" alt=""></div>
                    </div>

                    <div class="menu-btn">
                        <div>
                            <button class="menu-btn-register">Anmelden</button>
                        </div>
                        <div><button class="menu-btn-account">Account erstellen</button></div>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <div>
                                <img src="/lieferando/img/shopping_bag.svg" alt="icon_1">
                            </div>
                            <div>Bestellungen</div>
                        </li>
                        <li class="menu-item">
                            <div>
                                <img src="/lieferando/img/favorite.svg" alt="icon_1">
                            </div>
                            <div>Favoriten</div>
                        </li>
                        <li class="menu-item">
                            <div>
                                <img src="/lieferando/img/gift.svg" alt="icon_1">
                            </div>
                            <div>Punkte</div>
                        </li>
                        <li class="menu-item">
                            <div>
                                <img src="/lieferando/img/help.svg" alt="icon_1">
                            </div>
                            <div>Brauchst Du Hilfe?</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>