/*General Styles*/

* {
  font-family: "Roboto", arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #303d3f;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

body {
  background-color: #fff;
  color: #303d3f;
  direction: ltr;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

hr {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.01);
}

/*------ Help Classes ------*/

.spacer {
  height: 2000px;
}

.spacing-layer {
  padding: 0 16px 0 16px;
}

.d-none {
  display: none !important;
}

.page-section {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px 0 16px;
}

.clip-path-none {
  clip-path: none !important;
}

/*------ Variables ------*/

:root {
  --hover-1: rgba(0, 0, 0, 0.04);
  --hover-2: rgba(0, 0, 0, 0.08);
  --xds-spacing-f: 32px;
  --xds-spacing-c: 12px;
}

/*------ Header ------*/

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 80px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
    0px 8px 12px -2px rgba(0, 0, 0, 0.06), 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  z-index: 2000;
  background-color: #fff;
}

.header-spacing {
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  padding: 15px;
  display: flex;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  max-width: 20%;
  flex: 1 1 20%;
}

.header-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  flex: 1 1 60%;
  font-size: x-small;
}

.header-items {
  display: flex;
  align-items: center;
  max-width: 20%;
  justify-content: flex-end;
  flex: 1 1 20%;
}

.header-language {
  display: flex;
  width: 30px;
  height: 30px;
}

.header-menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 11px;
  justify-content: flex-end;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 100%;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
  height: 26px;
  width: 26px;
}

.header-menu:hover {
  background-color: #e4e3e2;
}

.menu-line {
  background-color: #303d3f;
  height: 2px;
  width: 100%;
}

/*------ Footer ------*/

.footer-spacing {
  padding: 15px;
  background-color: #efedea;
  color: #242e30;
}

.footer-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 10px;
  align-items: start;
}

.footer-list-item {
  padding: 8px 12px;
  color: #242e30;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.footer-list-link {
  text-decoration: none;
  font-size: 13px;
}

.footer-list-link:hover {
  text-decoration: underline;
}

.footer-copyright {
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px 12px;
  color: #242e30;
  display: flex;
  white-space: nowrap;
  font-size: 13px;
}

/*------ Menu - Overlay ------*/

.menu-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 100;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #303d3f;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2px;
}

.menu-item img {
  height: 32px;
}

.menu-item div {
  font-size: 18px;
  margin-top: 15px;
  margin-right: 10px;
}

.menu-item:hover {
  background-color: #f5f3f1;
}

.hidden {
  display: none;
}

.spacing {
  padding: 10px 20px;
}

.menu-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 20px;
}

.close-btn {
  padding: 15px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn img {
  font-weight: 500;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #e4e3e2;
}

.menu-config {
  display: flex;
  justify-content: center;
  background-color: #fff;
  top: 80px;
  position: relative;
  flex-direction: column;
  margin: 0 auto 0;
  width: 60%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-btn {
  display: flex;
  justify-content: space-between;
}

.menu-btn div {
  width: 100%;
  padding-right: 20px;
}

.menu-btn button {
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  letter-spacing: 0.05em;
  min-height: 42px;
  font-size: 18px;
  border-radius: 50rem;
  border: none;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.menu-btn-account {
  background-color: #f36805;
  color: #fff;
}

.menu-btn-account:hover {
  background-color: #ff6b01;
}

.menu-btn-register {
  background-color: #f5f3f1;
  color: #000;
}

.menu-btn-register:hover {
  background-color: #e4e3e2;
}

/*------ Main Content ------*/

main {
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  width: 100%;
}

.main-content {
  max-width: calc(100% - 344px);
  width: 100%;
}

.restaurant-header {
  position: relative;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.restaurant-main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.restaurant-main img {
  width: calc(100% + 32px);
  height: 320px;
  object-fit: cover;
}

.restaurant-logo {
  position: relative;
  transform: translateY(-80%);
}

.restaurant-logo-box {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #efedea;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.restaurant-logo-box img {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.restaurant-spacing {
  padding-top: 24px;
  padding-bottom: 16px;
}

.restaurant-info {
  position: relative;
  transform: translateY(-60px);
}

.restaurant-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.restaurant-name {
  margin-right: 0;
  max-width: calc(50% - 64px);
  padding-right: 24px;
  font-weight: 900;
}

.restaurant-name h1 {
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #242e30;
}

.restaurant-functions {
  display: flex;
  margin-bottom: calc(16px * -1);
}

.restaurant-functions div:hover {
  background-color: var(--hover-2);
}

.restaurant-functions div {
  display: flex;
  height: 48px;
  width: 48px;
  line-height: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background: #f5f3f1;
  border-radius: 100%;
  margin-left: 10px;
  flex: 0 0 auto;
  text-align: center;
}

.restaurant-functions img {
  height: 24px;
  width: 24px;
}

.restaurant-reviews {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.restaurant-star-rating {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.restaurant-star-rating img {
  height: 20px;
  width: 20px;
}

.restaurant-written-reviews {
  color: #242e30;
  text-decoration: underline;
  font-size: 14px;
}

.restaurant-written-reviews:hover {
  text-decoration: none;
}

.restaurant-delivery-info {
  margin-top: 10px;
}

.restaurant-delivery-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.restaurant-detail-box {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 14px;
}

.restaurant-detail-box:not(:last-child):after {
  margin-left: 8px;
  background-color: #3c4c4f;
  border-radius: 50rem;
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
}

.restaurant-detail-box:last-child {
  color: #017a39;
}

.restaurant-detail-box img {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/*------ Restaurant Menu ------*/

.restaurant-menu-nav {
  transform: translateZ(0px);
  top: 0px;
  position: sticky;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  min-height: 70px;
}

.restaurant-menu-nav-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.02),
    0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  clip-path: inset(10px -10px -10px -10px); /* top right bottom left */

  position: relative;
}

.restaurant-menu-nav.has-shadow::before {
  opacity: 1;
}

.mask {
  position: absolute;
  top: 0;
  right: -10px; /* Sie könnten den Wert ändern, um ihn an Ihre spezifische Situation anzupassen */
  bottom: 0;
  width: 10px; /* Die Breite sollte groß genug sein, um den unerwünschten Schatten zu überdecken */
  background-color: #fff; /* Die Farbe sollte der Hintergrundfarbe des umgebenden Elements entsprechen */
  z-index: 1001; /* Dies sollte höher sein als der z-index des Elementes, das den Schatten erzeugt */
}

.restaurant-menu-wrapper {
  min-height: 56px;
  align-items: center;
  display: flex;
  padding: 0 16px;
}

.restaurant-menu-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.restaurant-menu-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.restaurant-menu-search-icon {
  margin-right: 4px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

.restaurant-menu-search-icon img {
  width: 24px;
  height: 24px;
}

.restaurant-menu-search-icon:hover {
  background-color: var(--hover-2);
}

.restaurant-menu-categories {
  overflow: hidden;
  width: 100%;
  min-height: 56px;
  align-items: center;
  display: flex;
  position: relative;
}

.restaurant-menu-arrow-left {
  justify-content: flex-start;
  left: 0;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: calc(var(--xds-spacing-f) + var(--xds-spacing-c));
  z-index: 1;
  align-items: center;
  background-color: #fff;
}

.restaurant-menu-arrow-left div {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

.restaurant-menu-arrow-left div:hover {
  background-color: var(--hover-2);
}

#category-scroll-right {
  justify-content: flex-end;
  right: 0;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: calc(var(--xds-spacing-f) + var(--xds-spacing-c));
  z-index: 1;
  align-items: center;
  background-color: #fff;
}

#category-scroll-right img {
  height: 32px;
  width: 32px;
}

#category-scroll-right div {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

#category-scroll-right div:hover {
  background-color: var(--hover-2);
}

#category-scroll-left img {
  height: 32px;
  width: 32px;
}

.restaurant-menu-content-spacing {
  width: calc((100% - 32px) * 2 - (12px) * 2);
  margin-left: calc(32px + 12px);
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: calc((8px) * 7);
  padding: calc((4px) * 3) 0;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1;
}

.swiper-wrapper li {
  margin-right: 8px;
  width: auto;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.restaurant-menu-content-category {
  cursor: grab;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

#outsider {
  overflow: auto;
}

.restaurant-menu-content::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper-container:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.swiper-wrapper-container {
  padding: 5px 12px;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.is--active {
  background-color: #262626;
  color: #fff;
}

.is--active:hover {
  background-color: #353e40;
  color: #fff;
}

.restaurant-menu-search-label {
  margin-bottom: 4px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  line-height: 20px;
  min-height: 20px;
}

.restaurant-menu-search-label label {
  -webkit-box-flex: 1;
  color: #242e30;
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  align-items: center;
  display: flex;
}

.restaurant-menu-search-box {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border: 1px solid #797876;
  border-radius: 12px;
  bottom: 0;
  box-shadow: none;
  left: 0;
  outline: none;
  right: 0;
  top: 0;
  z-index: 0;
  height: 48px;
  position: relative;
}

.restaurant-menu-search-img {
  justify-content: center;
  align-items: center;
  display: flex;
}

.restaurant-menu-search-img img {
  color: #3c4c4f;
  height: 24px;
  width: 24px;
  z-index: 1;
  position: absolute;
  left: 16px;
}

.restaurant-menu-search-input {
  padding-right: calc(16px + 24px + 16px);
  padding-left: calc(16px + 24px + 16px);
  height: 48px;
  font-size: 16px;
  color: #242e30;
  cursor: text;
  position: relative;
  width: 100%;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.restaurant-menu-search-input input {
  outline-offset: -2px;
  -webkit-box-flex: 1;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  flex-grow: 1;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 24px;
  line-height: inherit;
  outline: none;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.restaurant-menu-search-close {
  color: #242e30;
  cursor: pointer;
  pointer-events: all;
  right: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.restaurant-menu-search-close img {
  color: #3c4c4f;
  height: 24px;
  width: 24px;
  z-index: 1;
  position: absolute;
  right: 16px;
}

#modal-search-box {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background-color: #fff;
}

#modal-search-box:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition: all 200ms ease-in-out;
}

.restaurant-menu-search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  transform: translatey(-30px);
  /* Optional: wenn Sie möchten, dass der Modal die gesamte Bildschirmhöhe einnimmt */
  z-index: 11;
  /* Stellen Sie sicher, dass es über .restaurant-menu-items liegt */
}

.restaurant-menu-search-modal.active {
  display: block;
}

/*------ Product - List (Menu) ------*/
.restaurant-meals-background {
  background-color: #fcfcfc;
}

.restaurant-meals {
  background-color: #fcfcfc;
}

.restaurant-meals-list {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.restaurant-meals-list-favs {
  padding-bottom: 16px;
  padding-top: 26px;
}

.restaurant-meals-image {
  padding-top: 16px;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  height: 12rem;
}

.restaurant-meals-image img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}

.restaurant-meals-headlines {
  margin-top: 16px;
  margin-bottom: 16px;
}

.headline-meal {
  margin-bottom: 16px;
  margin-top: 16px;
}

.headline-meal p {
  font-size: 12px;
  line-height: 24px;
}

.restaurant-meals-items-wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.meals-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meals-list li {
  border: 1px solid #d2d0ce;
  border-radius: 12px;
  margin-bottom: 16px;
  position: relative;
}

.meals-list-elements:hover {
  background-color: #f5f5f5;
}

.meals-list-elements:active {
  background-color: #e0e0e0;
}

.meals-list-element-box {
  cursor: pointer;
  position: relative;
  z-index: 0;
  min-height: 64px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 0;
}

.meals-list-element-head {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
}

.meals-list-box-info {
  height: 28px;
  line-height: 28px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 2px;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.meals-list-box-info img {
  rotate: 180deg;
  height: 24px;
  width: 24px;
}

.meals-list-box-description_1,
.meals-list-box-description_2 {
  line-height: 24px;
}

.meals-list-box-description_1 p {
  font-size: 15px;
}

.meals-list-box-description_2 p {
  font-size: 12px;
}
.meals-list-box-price {
  margin-top: 4px;
  margin-bottom: 8px;
}

.meals-list-element-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  user-select: none;
  z-index: 0;
  background: #f5f3f1;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meals-list-element-btn img {
  height: 30px;
  width: 30px;
}

.meals-list-price-price {
  font-weight: 900;
  font-size: 20px;
}

.meals-list-box-headline {
  line-height: 28px;
}

.meals-list-box-headline p {
  font-weight: 900;
  font-size: 20px;
}

.meals-list-elements {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-right: 64px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.meals-list-box-img {
  flex: 0 1 auto;
  margin-left: 8px;
}

.meals-list-additional-information {
  padding-top: 8px;
  font-size: 12px;
}

/*------ Imprint ------*/

.restaurant-imprint {
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 16px;
}

.restaurant-imprint-headline {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.restaurant-imprint-headline div {
  margin-right: 12px;
}

.restaurant-imprint-headline img {
  width: 24px;
  height: 24px;
}

.restaurant-imprint-content {
  line-height: 24px;
  padding-bottom: 30px;
}

.restaurant-imprint-content-inner {
  width: 80%;
}
.restaurant-imprint-content a {
  text-decoration: underline;
}

.imprint-extra-href_1 {
  font-size: 12px;
}

.imprint-extra-href_2 {
  text-decoration: none !important;
}

/*------ Warenkorb Desktop ------*/

.basket-desktop {
  width: 344px;
  height: 100vh;
  overflow: auto;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02),
    0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  position: sticky;
  top: 0;
}

.bsk-desk-head {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 24px 0px;
  color: #242e30;
}

.bsk-desk-content {
  color: #242e30;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 16px;
  padding-left: 16px;
}

.bsk-desk-content img {
  padding-bottom: 10px;
}

.basket-title {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 24px 16px 0;
}

.basket-title h2 {
  color: #242e30;
  text-align: center;
  line-height: 28px;
  margin: 0;
}

.basket-items {
  overflow-x: hidden;
  overflow-y: auto;
}

.basket-card {
  padding: 16px 16px 8px;
}

.basket-card-margin {
  margin-bottom: 16px;
  position: relative;
}

.basket-card-position {
  padding-left: 24px;
  position: relative;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 14px;
}

.basket-card-position:last-child {
  border-bottom: none;
}

.basket-list {
  padding-bottom: 5px;
}

.basket-amount {
  left: 0px;
  position: absolute;
  top: 14px;
  color: #242e30;
  font-size: 16px;
}

.basket-amount span {
  font-size: 14px;
}

.basket-attributes {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  height: 100%;
  color: #242e30;
}

.basket-meal-name {
  margin-right: 8px;
}

.basket-attributes-2 {
  margin-left: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.basket-over-18 {
  margin-right: 4px;
  display: inherit;
}

.basket-over-18 span {
  background-color: #262626;
  color: #fff;
  border-radius: 4px;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 12px;
}

.basket-item-prices {
  white-space: nowrap;
}

.basket-buttons {
  margin-top: 8px;
  user-select: none;
}

.basket-buttons-position {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 100%;
}

.basket-item-annotations {
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

.basket-item-annotations span {
  color: #242e30;
}

.basket-buttons-plus-minus {
  margin-left: auto;
  margin-right: 1px;
}

.basket-buttons-plus-minus-position {
  display: inline-flex;
  flex-direction: column;
}

.basket-buttons-plus-minus-wrapper {
  align-items: center;
  display: inline-flex;
}

.basket-buttons-minus,
.basket-buttons-plus {
  display: inline-flex;
}

.basket-buttons-plus {
  margin-left: 16px;
}

.basket-button-design {
  background: #f5f3f1;
  color: #242e30;
  height: 48px;
  line-height: 48px;
  width: 48px;
  border-radius: 50rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.basket-button-design span {
  line-height: 0;
  top: 0;
  font-size: 16px;
  pointer-events: none;
  color: inherit;
  display: inline-block;
  position: relative;
}

.basket-item-annotations {
  font-size: 15px;
  text-decoration: underline;
}

.basket-button-design:hover {
  background-color: #ebe9e8;
}

.basket-button-design:active {
  background-color: #d7d5d4;
}

.basekt-order-calc-wrapper {
  margin-top: 16px;
}

.basket-order-calc-content {
  margin-right: 16px;
  margin-left: 16px;
}

.basket-order-message-alert {
  position: relative;
  z-index: auto;
  border-radius: 12px;
  background-color: #fff9df;
  color: #242e30;
  display: flex;
  font-size: 12px;
  height: auto;
  justify-content: center;
  line-height: 16px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 56px;
}

.basket-order-message-alert-wrapper {
  width: 100%;
  display: flex;
}

.basket-order-message-alert-wrapper2 {
  flex-flow: column nowrap;
  display: flex;
  padding: 16px;
  width: 100%;
  position: relative;
}

.basket-order-message-alert-wrapper3 {
  display: flex;
}

.basket-order-message-alert-wrapper4 {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.basket-order-message-flex-item {
  white-space: nowrap;
}

.basekt-order-info-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #242e30;
}

.basket-order-summary-wrapper {
  flex: 1 0 auto;
  padding: 16px;
  position: relative;
}

.basket-order-summary-container {
  width: 100%;
  display: flex;
}

.basket-order-summary-count {
  color: #242e30;
  width: 100%;
}

.basket-order-summary-count-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
  clip-path: inset(1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.basket-order-summery-line {
  font-size: 16px;
  color: #3c4c4f;
}

.basket-order-summery-design {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  display: flex;
  margin-top: 6px;
  font-size: 15px;
}

.basket-order-button {
  background: #efedea;
  color: #8c999b;
  font-size: 20px;
  line-height: 28px;
  min-height: calc(48px - calc(1px * 2));
  border-radius: 50rem;
  justify-content: center;
  width: 100%;
  align-items: center;
  border: none;
  box-shadow: none;
  display: inline-flex;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  text-transform: none;
  overflow: visible;
  margin-top: 14px;
}

.basket-order-button-active {
  background: #f36805;
  color: #fff;
  cursor: pointer;
}

.basket-order-button-active:hover {
  background: #f15d00;
}

.basket-order-button-active:hover {
  background: #dc5500;
}

/*------ Warenkorb Mobile ------*/

.basket-mobile-button {
  background-color: #f36805;
  color: #fff;
  border-color: #f36805;
  font-size: 19px;
  min-height: calc(48px - calc(1px * 2));
  padding: calc(calc(48px - calc(1px * 2)) / 2 - 28px / 2) 24px;
  line-height: 28px;
  border-radius: 50rem;
  white-space: nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  border: 1px solid;
  font-weight: 600;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  overflow: visible;
  text-transform: none;
  letter-spacing: 1.02px;
}

.basket-mobile-button-text {
  color: #fff;
  white-space: nowrap;
}

.basket-mobile-button-text-container {
  align-items: center;
  line-height: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.basket-mobile-button-icon {
  flex: 0 1 auto;
  margin-right: 8px;
}

.basket-mobile-button-icon-span {
  display: inline-flex;
  position: relative;
  color: #fff;
  line-height: 1px;
}

.basket-mobile-button-icon-basket {
  font-size: 26px;
  pointer-events: none;
  color: inherit;
  display: inline-block;
  position: relative;
}

.basket-mobile-button-icon-basket svg {
  fill: #fff;
}

.basket-mobile-button-icon-count {
  background-color: #262626;
  border-radius: 8px;
  font-size: 14px;
  height: 16px;
  line-height: 20;
  min-width: 16px;
  margin-top: -4px;
  top: 0;
  left: 0;
  margin-left: -4px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  color: #fff;
  cursor: default;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 0 3px;
  position: absolute;
  z-index: 1;
}

.basket-mobile-button-amounth {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-width: 0;
  line-height: 1;
}

.basket-mobile-button-amounth-spacer {
  margin-right: 24px;
}

.basket-mobile-button-amounth-text {
  text-align: center;
}

.basket-mobile-button-amounth-text-value {
  white-space: nowrap;
}

.basket-mobile {
  background: #fcfcfc;
  border-top: 1px solid #efedea;
  bottom: 0;
  left: 0;
  padding: 8px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.basket-mobile-inner-container {
  padding-bottom: 24px;
}

/*------ Scroll Top Button ------*/

.scroll-top-element {
  position: relative;
  width: 56px;
  height: 56px;
}

.scroll-top-container {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.scroll-top-button {
  border-radius: 100%;
  border: none;
  width: 56px;
  height: 56px;
  background-color: #fff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04),
    0 8px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.scroll-top-button:hover {
  background-color: #f5f5f5;
}

.scroll-top-button:active {
  background-color: #e0e0e0;
}
.scroll-top-button img {
  height: 38px;
}

/*------ Info Modal ------*/

.modal-wrapper {
  z-index: 9999999;
  position: fixed;
}

.modal-level_1 {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-level_2 {
  max-height: calc(100% - 80px * 2);
  top: 80px;
  max-width: 37.5rem;
  border-radius: 16px;
  height: auto;
  margin-bottom: 40px;
  width: 75%;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  position: relative;
}

.modal-level_3 {
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: #fff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.modal-nutrition-info-header {
  padding: 24px 24px 16px 24px;
  position: relative;
  background-color: #fff;
  color: #242e30;
  display: flex;
  flex: 0 0 auto;
}

.modal-nutrition-info-header-pos {
  padding-right: 64px;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  width: 100%;
  z-index: inherit;
  position: relative;
}

.headline-modal {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  align-items: center;
  display: flex;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  letter-spacing: 1.02px;
}

.modal-button-container {
  right: 24px;
  top: 24px;
  justify-content: center;
  position: absolute;
}

.modal-button {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
}

.modal-icon {
  line-height: 0;
  top: 0;
  font-size: 16px;
  color: inherit;
  display: inline-block;
  position: relative;
}

.modal-icon svg {
  height: 28px;
  width: 28px;
  vertical-align: text-top;
}

.modal-content {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  display: flex;
  position: relative;
  padding: 0px 24px 16px 24px;
}

.modal-nutrition-info {
  padding-top: 4px;
  position: relative;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.modal-content-nutrition-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.modal-content-nutrition,
.modal-additional-text {
  margin-top: 4px;
  margin-bottom: 12px;
}

.modal-content-nutrition ul {
  margin-top: 10px;
}
[data-open-modal] {
  position: relative;
  z-index: 99999999;
}

.modal-additional-content {
  font-size: 11px;
}

.modal-list {
  list-style-type: none;
}

.modal-link {
  color: rgb(51, 51, 233);
  text-decoration: underline;
}

/*------ Responsive ------*/

@media only screen and (max-width: 1024px) {
  .menu-config {
    top: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    justify-content: flex-start;
  }

  #basket-desktop {
    display: none; /* standardmäßig ausgeblendet */
  }

  .modal-basket {
    display: block; /* wird angezeigt, wenn der Warenkorb-Button geklickt wird */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    /* Weitere Stylingeinstellungen für das Modal, z.B. Boxschatten, Padding etc. */
  }

  .main-content {
    max-width: 100%;
  }

  .restaurant-main {
    margin-left: 0;
  }
}

@media only screen and (max-width: 720px) {
  #category-scroll-right,
  #category-scroll-left {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .basket-mobile {
    display: none;
  }
}
