/*General Styles*/

* {
  font-family: "Roboto", arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #303d3f;
  direction: ltr;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

/*------ Help Classes ------*/

.spacer {
  height: 2000px;
}

.spacing-layer {
  padding: 0 16px 0 16px;
}

.d-none {
  display: none !important;
}

.page-section {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px 0 16px;
}

/*------ Variables ------*/

:root {
  --hover-1: rgba(0, 0, 0, 0.04);
  --hover-2: rgba(0, 0, 0, 0.08);
  --xds-spacing-f: 32px;
  --xds-spacing-c: 12px;
}

/*------ Header ------*/

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 80px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
    0px 8px 12px -2px rgba(0, 0, 0, 0.06), 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
}

.header-spacing {
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  padding: 15px;
  display: flex;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  max-width: 20%;
  flex: 1 1 20%;
}

.header-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  flex: 1 1 60%;
  font-size: x-small;
}

.header-items {
  display: flex;
  align-items: center;
  max-width: 20%;
  justify-content: flex-end;
  flex: 1 1 20%;
}

.header-language {
  display: flex;
  width: 30px;
  height: 30px;
}

.header-menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 11px;
  justify-content: flex-end;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 100%;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
  height: 26px;
  width: 26px;
}

.header-menu:hover {
  background-color: #e4e3e2;
}

.menu-line {
  background-color: #303d3f;
  height: 2px;
  width: 100%;
}

/*------ Menu - Overlay ------*/

.menu-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 100;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #303d3f;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2px;
}

.menu-item img {
  height: 32px;
}

.menu-item div {
  font-size: 18px;
  margin-top: 15px;
  margin-right: 10px;
}

.menu-item:hover {
  background-color: #f5f3f1;
}

.hidden {
  display: none;
}

.spacing {
  padding: 10px 20px;
}

.menu-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 20px;
}

.close-btn {
  padding: 15px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn img {
  font-weight: 500;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #e4e3e2;
}

.menu-config {
  display: flex;
  justify-content: center;
  background-color: #fff;
  top: 80px;
  position: relative;
  flex-direction: column;
  margin: 0 auto 0;
  width: 60%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-btn {
  display: flex;
  justify-content: space-between;
}

.menu-btn div {
  width: 100%;
  padding-right: 20px;
}

.menu-btn button {
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  letter-spacing: 0.05em;
  min-height: 42px;
  font-size: 18px;
  border-radius: 50rem;
  border: none;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.menu-btn-account {
  background-color: #f36805;
  color: #fff;
}

.menu-btn-account:hover {
  background-color: #ff6b01;
}

.menu-btn-register {
  background-color: #f5f3f1;
  color: #000;
}

.menu-btn-register:hover {
  background-color: #e4e3e2;
}

/*------ Main Content ------*/

main {
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  width: 100%;
}

.main-content {
  max-width: calc(100% - 344px);
  width: 100%;
}

.restaurant-header {
  position: relative;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.restaurant-main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.restaurant-main img {
  width: calc(100% + 32px);
  height: 320px;
  object-fit: cover;
}

.restaurant-logo {
  position: relative;
  transform: translateY(-80%);
}

.restaurant-logo-box {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #efedea;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.restaurant-logo-box img {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.restaurant-spacing {
  padding-top: 24px;
  padding-bottom: 16px;
}

.restaurant-info {
  position: relative;
  transform: translateY(-60px);
}

.restaurant-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.restaurant-name {
  margin-right: 0;
  max-width: calc(50% - 64px);
  padding-right: 24px;
  font-weight: 900;
}

.restaurant-name h1 {
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #242e30;
}

.restaurant-functions {
  display: flex;
  margin-bottom: calc(16px * -1);
}

.restaurant-functions div:hover {
  background-color: var(--hover-2);
}

.restaurant-functions div {
  display: flex;
  height: 48px;
  width: 48px;
  line-height: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  background: #f5f3f1;
  border-radius: 100%;
  margin-left: 10px;
  flex: 0 0 auto;
  text-align: center;
}

.restaurant-functions img {
  height: 24px;
  width: 24px;
}

.restaurant-reviews {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.restaurant-star-rating {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.restaurant-star-rating img {
  height: 20px;
  width: 20px;
}

.restaurant-written-reviews {
  color: #242e30;
  text-decoration: underline;
  font-size: 14px;
}

.restaurant-written-reviews:hover {
  text-decoration: none;
}

.restaurant-delivery-info {
  margin-top: 10px;
}

.restaurant-delivery-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.restaurant-detail-box {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 14px;
}

.restaurant-detail-box:not(:last-child):after {
  margin-left: 8px;
  background-color: #3c4c4f;
  border-radius: 50rem;
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
}

.restaurant-detail-box:last-child {
  color: #017a39;
}

.restaurant-detail-box img {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/*------ Restaurant Menu ------*/

.restaurant-menu-nav {
  margin-bottom: 10px;
  transform: translateZ(0px);
  top: 0px;
  position: sticky;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
}

.restaurant-menu-nav-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.02),
    0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  clip-path: inset(10px -10px -10px -10px); /* top right bottom left */

  position: relative;
}

.restaurant-menu-nav.has-shadow::before {
  opacity: 1;
}

.mask {
  position: absolute;
  top: 0;
  right: -10px; /* Sie könnten den Wert ändern, um ihn an Ihre spezifische Situation anzupassen */
  bottom: 0;
  width: 10px; /* Die Breite sollte groß genug sein, um den unerwünschten Schatten zu überdecken */
  background-color: #fff; /* Die Farbe sollte der Hintergrundfarbe des umgebenden Elements entsprechen */
  z-index: 1001; /* Dies sollte höher sein als der z-index des Elementes, das den Schatten erzeugt */
}

.restaurant-menu-wrapper {
  min-height: 56px;
  align-items: center;
  display: flex;
  padding: 0 16px;
}

.restaurant-menu-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.restaurant-menu-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.restaurant-menu-search-icon {
  margin-right: 4px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

.restaurant-menu-search-icon img {
  width: 24px;
  height: 24px;
}

.restaurant-menu-search-icon:hover {
  background-color: var(--hover-2);
}

.restaurant-menu-categories {
  overflow: hidden;
  width: 100%;
  min-height: 56px;
  align-items: center;
  display: flex;
  position: relative;
}

.restaurant-menu-arrow-left {
  justify-content: flex-start;
  left: 0;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: calc(var(--xds-spacing-f) + var(--xds-spacing-c));
  z-index: 1;
  align-items: center;
  background-color: #fff;
}

.restaurant-menu-arrow-left div {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

.restaurant-menu-arrow-left div:hover {
  background-color: var(--hover-2);
}

#category-scroll-right {
  justify-content: flex-end;
  right: 0;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: calc(var(--xds-spacing-f) + var(--xds-spacing-c));
  z-index: 1;
  align-items: center;
  background-color: #fff;
}

#category-scroll-right img {
  height: 32px;
  width: 32px;
}

#category-scroll-right div {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f1;
  border-radius: 100%;
  cursor: pointer;
}

#category-scroll-right div:hover {
  background-color: var(--hover-2);
}

#category-scroll-left img {
  height: 32px;
  width: 32px;
}

.restaurant-menu-content-spacing {
  width: calc((100% - 32px) * 2 - (12px) * 2);
  margin-left: calc(32px + 12px);
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: calc((8px) * 7);
  padding: calc((4px) * 3) 0;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1;
}

.swiper-wrapper li {
  margin-right: 8px;
  width: auto;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.restaurant-menu-content-category {
  cursor: grab;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

#outsider {
  overflow: auto;
}

.restaurant-menu-content::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper-container:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.swiper-wrapper-container {
  padding: 5px 12px;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.is--active {
  background-color: #262626;
  color: #fff;
}

.is--active:hover {
  background-color: #353e40;
  color: #fff;
}

.restaurant-menu-search-label {
  margin-bottom: 4px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  line-height: 20px;
  min-height: 20px;
}

.restaurant-menu-search-label label {
  -webkit-box-flex: 1;
  color: #242e30;
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  align-items: center;
  display: flex;
}

.restaurant-menu-search-box {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border: 1px solid #797876;
  border-radius: 12px;
  bottom: 0;
  box-shadow: none;
  left: 0;
  outline: none;
  right: 0;
  top: 0;
  z-index: 0;
  height: 48px;
  position: relative;
}

.restaurant-menu-search-img {
  justify-content: center;
  align-items: center;
  display: flex;
}

.restaurant-menu-search-img img {
  color: #3c4c4f;
  height: 24px;
  width: 24px;
  z-index: 1;
  position: absolute;
  left: 16px;
}

.restaurant-menu-search-input {
  padding-right: calc(16px + 24px + 16px);
  padding-left: calc(16px + 24px + 16px);
  height: 48px;
  font-size: 16px;
  color: #242e30;
  cursor: text;
  position: relative;
  width: 100%;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.restaurant-menu-search-input input {
  outline-offset: -2px;
  -webkit-box-flex: 1;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  flex-grow: 1;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 24px;
  line-height: inherit;
  outline: none;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.restaurant-menu-search-close {
  color: #242e30;
  cursor: pointer;
  pointer-events: all;
  right: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.restaurant-menu-search-close img {
  color: #3c4c4f;
  height: 24px;
  width: 24px;
  z-index: 1;
  position: absolute;
  right: 16px;
}

#modal-search-box {
  display: flex;
}

#modal-search-box:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition: all 200ms ease-in-out;
}

.restaurant-menu-search-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  /* Optional: wenn Sie möchten, dass der Modal die gesamte Bildschirmhöhe einnimmt */
  z-index: 11;
  /* Stellen Sie sicher, dass es über .restaurant-menu-items liegt */
}

.restaurant-menu-search-modal.active {
  display: block;
}

/*------ Product - List (Menu) ------*/

.restaurant-meals {
  background-color: #fcfcfc;
  height: 100px;
}

.restaurant-meals-list {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

/*------ Warenkorb Desktop ------*/

.basket-desktop {
  min-height: 100vh;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02),
    0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.bsk-desk-head {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 24px 0px;
  color: #242e30;
}

.bsk-desk-content {
  color: #242e30;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 16px;
  padding-left: 16px;
}

.bsk-desk-content img {
  padding-bottom: 10px;
}

/*------ Responsive ------*/

@media only screen and (max-width: 1024px) {
  .menu-config {
    top: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    justify-content: flex-start;
  }

  .basket-desktop {
    display: none;
  }

  .main-content {
    max-width: 100%;
  }

  .restaurant-main {
    margin-left: 0;
  }
}

@media only screen and (max-width: 720px) {
  #category-scroll-right,
  #category-scroll-left {
    display: none;
  }
}
